<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 - Lab 3: Testing Queries for REST Server

As usual we have to tell Jupyter to allow SQL:

In [1]:
%load_ext sql

Check SQL Version

In [2]:
import sqlite3
ver = sqlite3.sqlite_version_info
print("SQLite Version {}.{}.{}".format(ver[0], ver[1], ver[2]))

SQLite Version 3.40.1

And then we import our movie database

In [3]:
%sql sqlite:///theaters.sqlite

We want to make sure that SQLite3 really checks our foreign
key constraints -- to do that, we run:

In [4]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///theaters.sqlite
Done.

[]

## SQL Query Testing Below

Write SQL code for the following tasks:

+ Give a summary of all tickets for a user, like this:
```
curl -X GET http://localhost:7007/users/alice/tickets
{
    "data": [
        {
            "date": "2021-02-22",
            "startTime": "19:00",
            "theater": "Kino",
            "title": "The Shape of Water",
            "year": 2017,
            "nbrOfTickets": 2
        },
        {
            "date": "2021-02-23",
            "startTime": "19:00",
            "theater": "Skandia",
            "title": "Moonlight",
            "year": 2016,
            "nbrOfTickets": 1
        }
    ]
}
```

In [ ]:
%%sql
SELECT      *
FROM        Ticket
RIGHT JOIN  Customer
USING       (username)
WHERE       username="jacob1576"

In [ ]:
%%sql
WITH all_customer_data AS
(
    SELECT      count() AS n_tickets, PerformanceId, CustomerName, UserPassword
    FROM        Ticket
    RIGHT JOIN  Customer
    USING       (username)
    --WHERE       username="jacob1576"
    --GROUP BY    PerformanceId
    LEFT JOIN   Performance
    USING       (PerformanceId)
)

SELECT *
FROM   all_customer_data

In [ ]:
%%sql
WITH short_customer_data AS
(
    SELECT      count() AS n_tickets, PerformanceId, CustomerName, UserPassword
    FROM        Ticket
    RIGHT JOIN  Customer
    USING       (username)
    WHERE       username="jacob1576"
    GROUP BY    PerformanceId
)

SELECT      *
FROM        short_customer_data
LEFT JOIN   Performance
USING       (PerformanceId)

In [ ]:
%%sql
-- All in one statement
SELECT      PerformanceDate, StartTime, TheaterName, MovieTitle, ProductionYear, count() as nbrOfTickets
FROM        Ticket
LEFT JOIN   Customer
USING       (username)
LEFT JOIN   Performance
USING       (PerformanceId)
LEFT JOIN   Movie
USING       (IMDBKey)
WHERE       username="alice2002"
GROUP BY    PerformanceId

+ Get a user's password

In [5]:
%%sql
SELECT UserPassword
FROM   Customer
WHERE  username="jacob1576"

 * sqlite:///theaters.sqlite
Done.

[('moVieAccount7428@',)]