<!-- -*- mode: markdown; coding: utf-8; fill-column: 60; ispell-dictionary: "english" -*- -->

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="style.css">


# EDAF75 - Lab 3: Testing Queries for REST Server

As usual we have to tell Jupyter to allow SQL:

In [1]:
%load_ext sql

Check SQL Version

In [2]:
import sqlite3
ver = sqlite3.sqlite_version_info
print("SQLite Version {}.{}.{}".format(ver[0], ver[1], ver[2]))

SQLite Version 3.40.1

And then we import our movie database

In [3]:
%sql sqlite:///theaters.sqlite

We want to make sure that SQLite3 really checks our foreign
key constraints -- to do that, we run:

In [4]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///theaters.sqlite
Done.

[]

In [5]:
%%sql
SELECT    *
FROM      Theater
LEFT JOIN Performance
USING     (TheaterName)

 * sqlite:///theaters.sqlite
Done.

[('Apollo Theatre', 40, None, None, None, None, None),
 ('Artcraft Theater', 450, '610824485bc05b9871dad362fa559650', 1, '10:00', '2023-01-15', 'tt1630029'),
 ('Artcraft Theater', 450, '8907cf8bafeee779fd417e54bc232703', 3, '17:00', '2023-01-23', 'tt0109830'),
 ('Artcraft Theater', 450, '98bfd63cc0adf4728ccd101cd59eb41d', 2, '13:15', '2023-01-01', 'tt0109830'),
 ('Booth Theater', 750, '991f769a75287ad2550090c3b820df6e', 4, '21:20', '2023-01-11', 'tt0102926'),
 ('Capitol Theater', 900, '535aa74a413dab4be483729cd9a95395', 5, '19:10', '2022-10-06', 'tt0468569'),
 ('Capitol Theater', 900, 'acf6aaeaca24d7927e184f822836bfd1', 6, '22:45', '2022-10-06', 'tt0468569'),
 ('Cliff Theater', 40, '0ba04cb8a61abf6c67056ae2a9774f88', 7, '19:35', '2022-12-16', 'tt0468569'),
 ('Los Angeles Theater', 1000, '24143320578fdb7510e3e56622dc8cfe', 8, '14:00', '2022-12-17', 'tt0088847'),
 ('Los Angeles Theater', 1000, 'f72e9502ec853881bc61b584c697af47', 9, '18:30', '2022-12-18', 'tt0088847'),
 ('Paramount Theater', 12, '5c5d1c00b09a1883e53e91d8f1953f0a', 10, '18:15', '2022-12-19', 'tt0092099'),
 ('Paramount Theater', 12, 'ecc475f970444eb41c1536cee7713699', 11, '21:20', '2022-12-19', 'tt0092099'),
 ('Tower Theater', 1, '6f309b9ffa7584590deaab89a16e9c40', 12, '18:15', '2022-12-19', 'tt0092099'),
 ('Vista Theater', 72, 'b006d930d19479d234000c1c88e7370b', 13, '23:00', '2023-02-01', 'tt0092099'),
 ('Garneau Theater', 450, '1ba3509fd3586471157ee6bf63da4ef8', 14, '09:20', '2023-02-04', 'tt0876563'),
 ('Royal Cinema', 750, '6907ec0b86e3bdd6e4d8b6ca4c1333da', 15, '19:25', '2023-02-04', 'tt0876563'),
 ('Atlantic', 900, 'e006b5cb683029ed91c1a3626d1c0815', 16, '12:30', '2049-01-01[', 'tt1856101'),
 ('Astoria', 204, '9ac4cbe728532c6ef87749a16a0c07ac', 17, '21:00', '2022-11-06', 'tt0088247'),
 ('Maximteatern', 208, '194c98ca9037fec063875c64cb20dfc3', 18, '22:20', '2022-11-06', 'tt0088247'),
 ('Draken', 10, '7b8e25dd3a400d0c8cd7513ee15691e5', 19, '13:30', '2022-08-04', 'tt4912910')]

## SQL Query Testing Below

Write SQL code for the following tasks:

+ Give a summary of all tickets for a user, like this:
```
curl -X GET http://localhost:7007/users/alice/tickets
{
    "data": [
        {
            "date": "2021-02-22",
            "startTime": "19:00",
            "theater": "Kino",
            "title": "The Shape of Water",
            "year": 2017,
            "nbrOfTickets": 2
        },
        {
            "date": "2021-02-23",
            "startTime": "19:00",
            "theater": "Skandia",
            "title": "Moonlight",
            "year": 2016,
            "nbrOfTickets": 1
        }
    ]
}
```

In [ ]:
%%sql
WITH short_customer_data AS
(
    SELECT      count() AS n_tickets, PerformanceId, CustomerName, UserPassword
    FROM        Ticket
    RIGHT JOIN  Customer
    USING       (username)
    WHERE       username="jacob1576"
    GROUP BY    PerformanceId
)

SELECT      *
FROM        short_customer_data
LEFT JOIN   Performance
USING       (PerformanceId)

In [ ]:
%%sql
-- All in one statement
SELECT      PerformanceDate, StartTime, TheaterName, MovieTitle, ProductionYear, count() as nbrOfTickets
FROM        Ticket
LEFT JOIN   Customer
USING       (username)
LEFT JOIN   Performance
USING       (PerformanceId)
LEFT JOIN   Movie
USING       (IMDBKey)
WHERE       username="jacob1576"
GROUP BY    PerformanceId

+ Get a user's password

In [ ]:
%%sql
SELECT UserPassword
FROM   Customer
WHERE  username="jacob1576"

+ Get Performance Information (combined with movies)

In [8]:
%%sql
SELECT      PerformanceHash, PerformanceDate, StartTime, MovieTitle, ProductionYear, TheaterName
FROM        Performance
LEFT JOIN   Movie
USING       (IMDBKey)
--LEFT JOIN Performance
--USING     (TheaterName)

 * sqlite:///theaters.sqlite
Done.

[('610824485bc05b9871dad362fa559650', '2023-01-15', '10:00', 'Avatar: The Way of Water', 2022, 'Artcraft Theater'),
 ('98bfd63cc0adf4728ccd101cd59eb41d', '2023-01-01', '13:15', 'Forest Gump', 1994, 'Artcraft Theater'),
 ('8907cf8bafeee779fd417e54bc232703', '2023-01-23', '17:00', 'Forest Gump', 1994, 'Artcraft Theater'),
 ('991f769a75287ad2550090c3b820df6e', '2023-01-11', '21:20', 'Silence of the Lambs', 1991, 'Booth Theater'),
 ('535aa74a413dab4be483729cd9a95395', '2022-10-06', '19:10', 'The Dark Night', 2008, 'Capitol Theater'),
 ('acf6aaeaca24d7927e184f822836bfd1', '2022-10-06', '22:45', 'The Dark Night', 2008, 'Capitol Theater'),
 ('0ba04cb8a61abf6c67056ae2a9774f88', '2022-12-16', '19:35', 'The Dark Night', 2008, 'Cliff Theater'),
 ('24143320578fdb7510e3e56622dc8cfe', '2022-12-17', '14:00', 'The Breakfast Club', 1985, 'Los Angeles Theater'),
 ('f72e9502ec853881bc61b584c697af47', '2022-12-18', '18:30', 'The Breakfast Club', 1985, 'Los Angeles Theater'),
 ('5c5d1c00b09a1883e53e91d8f1953f0a', '2022-12-19', '18:15', 'Top Gun', 1986, 'Paramount Theater'),
 ('ecc475f970444eb41c1536cee7713699', '2022-12-19', '21:20', 'Top Gun', 1986, 'Paramount Theater'),
 ('6f309b9ffa7584590deaab89a16e9c40', '2022-12-19', '18:15', 'Top Gun', 1986, 'Tower Theater'),
 ('b006d930d19479d234000c1c88e7370b', '2023-02-01', '23:00', 'Top Gun', 1986, 'Vista Theater'),
 ('1ba3509fd3586471157ee6bf63da4ef8', '2023-02-04', '09:20', 'Ponyo', 2008, 'Garneau Theater'),
 ('6907ec0b86e3bdd6e4d8b6ca4c1333da', '2023-02-04', '19:25', 'Ponyo', 2008, 'Royal Cinema'),
 ('e006b5cb683029ed91c1a3626d1c0815', '2049-01-01[', '12:30', 'Blade Runner 2049', 2017, 'Atlantic'),
 ('9ac4cbe728532c6ef87749a16a0c07ac', '2022-11-06', '21:00', 'The Terminator', 1984, 'Astoria'),
 ('194c98ca9037fec063875c64cb20dfc3', '2022-11-06', '22:20', 'The Terminator', 1984, 'Maximteatern'),
 ('7b8e25dd3a400d0c8cd7513ee15691e5', '2022-08-04', '13:30', 'Mission Impossible - Fallout', 2018, 'Draken')]